<div class="container">
  <div class="controls">
    <button class="controls__back py3 px5 my3" routerLink="">
      Back to List
    </button>
  </div>
  <div class="gallery">
    <div class="gallery__preview p3">
      <div class="gallery__preview__image is-front mb3 mr3" [ngClass]="{'is-active': activePreviewImage == 1}" (click)="activePreviewImage = 1"></div>
      <div class="gallery__preview__image is-side mb3 mr3" [ngClass]="{'is-active': activePreviewImage == 2}" (click)="activePreviewImage = 2"></div>
      <div class="gallery__preview__image is-back mb3" [ngClass]="{'is-active': activePreviewImage == 3}" (click)="activePreviewImage = 3"></div>
    </div>
    <div class="gallery__image mt3 mb5" [ngClass]="{'is-front': activePreviewImage == 1, 'is-side': activePreviewImage == 2, 'is-back': activePreviewImage == 3}">
    </div>
  </div>
  <div class="info px5">
    <h2 class="info__heading my4">{{phone.description}}</h2>
    <div class="info__rating mb4">
      <div class="info__rating__star" *ngFor="let rating of phone.ratingArray" [ngClass]="{'is-active': rating == 1}"></div>
    </div>
    <ng-container *ngIf="!phone.outOfStock">
      <div class="info__price mb4">
        From 
        <span *ngIf="phone.priceFrom == 0">FREE</span>
        <span *ngIf="phone.priceFrom > 0">&euro;{{phone.priceFrom}}</span>
      </div>
      <select class="info__sku-selection mb4" *ngIf="phone.colors">
        <option *ngFor="let colour of phone.colors" [value]="colour">{{colour}}</option>
      </select>
      <div class="info__quantity-selection mb4">
        <button class="info__quantity-selection__decrement" (click)="quantity > 1 ? quantity = quantity - 1 : false">-</button>
        <input type="number" class="info__quantity-selection__value" [(ngModel)]="quantity"/>
        <button class="info__quantity-selection__increment" (click)="quantity = quantity + 1">+</button>
      </div>
    </ng-container>
    <div class="info__out-of-stock mb4" *ngIf="phone.outOfStock">OUT OF STOCK</div>
    <button class="info__cta mb4" [disabled]="phone.outOfStock" routerLink="">
      Add to Cart
    </button>
  </div>
  <div class="overview">
    <h2 class="overview__heading px5 my6">Product Overview</h2>
    <div class="overview__table">
      <div class="overview__table__row py1">
        <div class="overview__table__column px5">Title</div>
        <div class="overview__table__column px5">{{phone.description}}</div>
      </div>
      <div class="overview__table__row py1">
        <div class="overview__table__column px5">Manufacturer</div>
        <div class="overview__table__column px5">{{phone.manufacturer}}</div>
      </div>
      <div class="overview__table__row py1">
        <div class="overview__table__column px5">Description</div>
        <div class="overview__table__column px5">{{phone.productDescription}}</div>
      </div>
      <div class="overview__table__row py1" *ngFor="let filterKey of phone.filterKeys">
        <div class="overview__table__column px5">{{filterKey}}</div>
        <div class="overview__table__column px5">
          <ng-container *ngIf="phone.filterfeatures[filterKey]">Yes</ng-container>
          <ng-container *ngIf="!phone.filterfeatures[filterKey]">No</ng-container>
        </div>
      </div>
    </div>
  </div>
</div>