@import "../../assets/scss/_common";

:host {
  @include grid(row);
  text-align: center;
}

.image {
  @include grid(column, 12);
  height: 300px;
  background: url(../../assets/img/front.png);
  background-size: auto 300px;
  background-repeat: no-repeat;
  background-position: 50%;
}

.colours {
  @include grid(column, 12);
  @include grid(row, null, align-center);
}

.colours__colour {
  @include grid(column, auto);
  width: 30px;
  height: 50px;
  border: $border;
  &.is-white {
    background: $brand-white;
  }
  &.is-black {
    background: $brand-black;
  }
  &.is-grey {
    background: $brand-grey;
  }
  &.is-gold{
    background: $brand-gold;
  }
  &.is-silver {
    background: $brand-silver;
  }
  &.is-blue-topaz {
    background: $brand-blue;
  }
  &.is-rose-gold {
    background: $brand-pink;
  }
  &.is-space-grey {
    background: $brand-grey;
  }
  &.is-pink {
    background: $brand-pink;
  }
  &.is-green {
    background: $brand-green;
  }
  &.is-blue {
    background: $brand-blue;
  }
  &.is-jet-black {
    background: $brand-black;
  }
}

.name {
  @include grid(column, 12);
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  min-height: 56px;
  max-height: 56px;
}

.rating {
  @include grid(column, 12);
  @include grid(row, null, align-center);
  font-size: 32px;
  line-height: 36px;
  -webkit-text-stroke: 1px $brand-black;
}

.rating__star {
  @include grid(column, auto, align-center);
  &:before {
    content: "\2605";
  }
  &.is-active {
    &:before {
      color: $brand-gold;
    }
  }
}

.price {
  @include grid(column, 12);
  font-size: 28px;
  line-height: 32px;
}

.availability {
  @include grid(column, 12);
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

.availability__in-stock {
  color: $brand-green;
}

.availability__out-of-stock {
  color: $brand-red;
}

.cta {
  @include grid(column, 12);
  height: 40px;

}