<div class="container">
  <div class="filter-button">
    <button class="p2 mt2 ml2" (click)="no()"></button>
  </div>
  <div class="filter px5 pt3 pb5">
    <h2 class="filter__heading pl3 mb0">Filters: </h2>
    <div class="filter__value p3" *ngFor="let filter of filters">
      <input class="mr4" type="checkbox" [name]="filter" [value]="filter" [id]="filter" [checked]="filterValues.includes(filter)" (change)="updateFilterValues(filter)">
      <label [for]="filter">{{filter}}</label>
    </div>
  </div>
  <div class="list">
    <app-phone class="list__phone p5" *ngFor="let phone of filteredPhones" [phone]="phone"></app-phone>
  </div>
</div>