@import "../../assets/scss/_common";

.container {
  @include grid(row);
}

.filter-button {
  @include grid(column, 2, align-top);
  background: $brand-grey;
  vertical-align: middle;
  button {
    vertical-align: middle;
    font-size: 18px;
    line-height: 16px;
    cursor: pointer;
    &:before {
      content: '\2295';
      padding-bottom: 2px;
      line-height: 14px;
      font-size: 24px;
    }

    @include breakpoint(medium) {
      &:after {
        content: 'Filters';
        padding-left: $space1;
      }
    }  
    @include breakpoint(large) {
      &:after {
        content: 'Filters';
        padding-left: $space1;
      }
    }  
  }
}

.filter {
  @include grid(column, 10);
  @include grid(row, null, align-left);
  background: $brand-grey;
}

.filter__heading {
  @include grid(column, 12);
  font-size: 16px;
}

.filter__value {
  @include grid(column, 12, align-left);
  @include grid(row, null, align-middle, align-left);
  font-size: 20px;
  line-height: 20px;
  input {
    @include grid(column, auto, align-middle, align-left);
    height: 24px;
    width: 24px;
    cursor: pointer;
  }
  label {
    @include grid(column, auto, align-middle, align-left);
    cursor: pointer;
  }

  @include breakpoint(medium) {
    @include grid(column, 6, align-left)
  }

  @include breakpoint(large) {
    @include grid(column, 4, align-left)
  }
}

.list {
  @include grid(column, 12);
  @include grid(row, null, align-left);
  border-top: $border;
  border-left: $border;
}

.list__message {
  @include grid(column, 12);
  @include grid(row);
  border-right: $border;
  border-bottom: $border;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.list__message__heading {
  @include grid(column, 12);
  font-size: 16px;
}

.list__message__body {
  @include grid(column, 12);
  text-transform: capitalize;
  font-weight: 600;
}

.list__phone {
  @include grid(column, 12);
  border-right: $border;
  border-bottom: $border;

  @include breakpoint(medium) {
    @include grid(column, 6, align-left)
  }

  @include breakpoint(large) {
    @include grid(column, 3, align-left)
  }
}